* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}

label {
  display: block;
}

body {
  font-family: "Plus Jakarta Sans";
  margin: 50px;
}

.login {
  display: flex;
  width: 400px;
  padding: 32px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  flex-shrink: 0;
  border-radius: 32px;
  border: 1px solid #ccc;
  background: #fff;
}

.login-heading {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.login-title {
  color: #000;
  font-size: 32px;
  font-weight: 600;
  width: 336px;
}

.login-subtitle {
  color: #000;
  font-size: 24px;
  font-weight: 500;
  width: 336px;
}

.login-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  align-self: stretch;
}

.login-group {
  transition: 1s;
}

.login-label {
  color: #555;
  font-size: 16px;
  font-weight: 400;
  width: 336px;
}

.login-input {
  width: 336px;
  height: 40px;
  padding-left: 12px;
  transition: 0.5s;
  border-radius: 4px;
  outline: none;
  border: 1px solid #ccc;
}

.login-input:focus {
  background-color: #eee;
  border: 1px solid #000;
}

.login-submit {
  display: flex;
  height: 40px;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  border-radius: 4px;
  background: #1576ea;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 40px;
  border: none;
  transition: 0.5s;
}

.login-submit:hover {
  background-color: #000;
}
